.movieContainer {
    display: flex;
    flex-direction: row;
    gap: 30px;
    /* border: 2px dotted blue;     */
    height: 120px;
    /* width: 1000px */
}

.moviePoster {
    flex: 0 0 120px;
    height: 120px;
    width: 
    padding-left: 10px;

}

.moviePoster img {
    width: 100%;
    height: 100%;

}

.movieDetails {
    /* border: 2px dotted red; */
    text-align: center;
    width: 1000px;

}

.movieTitle {
    margin-top: 1px;
}

.movieAttributes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movieAttributes h4 {
    margin: 0;
}

